@charset "UTF-8";
a {
    font-weight: lighter;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: hsl(90, 0%, 0%);
    text-decoration: underline
}

a:hover {
    color: hsl(90, 0%, 40%)
}

html {
    /* font-size: 82.5% */
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: lighter;
    color: hsl(90, 0%, 0%);
    background-color: hsl(28, 50%, 38%);
    /* background-color:;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto; */
    /* hyphens: auto */
}

.layout {
    width: 46em;
    max-width: 95%;
    font-size: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-color: hsl(46, 100%, 96%);
    padding: 8px 13px
}

.artikel {
    width: 100%;
    margin-top: 0.1em
}

@media print {
    .invisible {
        display: none
    }
    .navigation {
        display: none
    }
    .titel {
        display: none
    }
    span.hier {
        display: none
    }
    .uplink {
        display: none
    }
}

@media screen {
    .invisible {
        position: absolute;
        left: -1000px;
        top: -1000px;
        /* width: 0px;
        height: 0px; */
        display: inline
    }
    .titel {
        font-size: 150%;
        text-align: left;
        margin: 0.3rem;
        padding: 1.3rem;
        background-color: hsl(28, 40%, 68%)
    }
    .uplink {
        width: 100%;
        text-align: right;
        vertical-align: middle;
        margin-top: 0.5em;
        /* text-decoration: none */
    }
}

@media screen {
    .content {
        font-size: 90%;
        color: hsl(90, 0%, 0%);
        background-color: inherit;
        padding-right: 0.5em;
        width: 100%;
        vertical-align: top;
        overflow: visible
    }
}

@media print {
    .content {
        font-size: 90%;
        color: hsl(90, 0%, 0%);
        background-color: inherit;
        padding-right: 0.5em;
        margin-top: 0px;
        width: 90%;
        vertical-align: top;
        overflow: visible
    }
}

h1 {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    margin-top: 1.5em
}

h2 {
    text-align: left;
    font-size: 120%;
    font-weight: normal;
    margin-top: 1.5em
}

h3 {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    margin-top: 1em
}

h4 {
    text-align: left;
    font-size: 100%;
    font-weight: normal;
    margin-top: 0.5em
}

ul {
    list-style-type: none
}

ul.normal {
    list-style-type: disc
}

.ablauf {
    list-style-type: circle
}

p.left {
    text-align: left;
    vertical-align: middle;
    margin-top: 0.5em;
}

.einsp {
    column-count: 1;
    column-gap: 21px;
}

.zweisp {
    column-count: 2;
    column-gap: 21px;
}

div.history {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around
}

div.history p {
    column-count: 1;
    text-align: left
}

@media only screen and (max-width: 800px) {
    p {
        column-count: 1
    }
}

.center {
    text-align: center;
    vertical-align: top;
    margin-top: 0.5em
}

div.formular p.center {
    clear: both
}

.right {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    margin-top: 0.5em
}

.just {
    text-align: justify;
    vertical-align: top;
    margin-top: 0.5em
}

.leftrow {
    text-align: left;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: left
}

.kapitel {
    margin-top: 3.5em;
    text-align: left
}

.nobr {
    white-space: normalno
}

p.kapital:first-letter {
    font-size: 130%
}

kapital {
    font-size: 130%
}

.absatz {
    float: left;
    margin-right: 0.2em;
    vertical-align: baseline
}

.absatz:first-letter {
    font-size: 250%
}

.pictogramm {
    display: none
}

div.image {
    column-span: 2;
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center
}

div.image img {
    flex: 0 0 auto;
    margin: 0.5rem auto;
    border: 1px solid hsl(90, 0%, 0%);
    max-width: 100%
}

img.pictogramm {
    border: none
}

.smallink {
    color: hsl(90, 0%, 0%);
    background-color: hsl(46, 100%, 94%);
    font-size: 100%;
    font-weight: lighter;
    text-align: left;
    vertical-align: middle;
    text-decoration: none
}

.smallink:hover {
    text-decoration: none
}

.index {
    font-size: 85%;
    vertical-align: sub;
    font-style: italic
}

.exponent {
    font-size: 85%;
    vertical-align: super;
    font-variant: small-caps
}

table.bruch {
    font-size: 110%;
    border: 1px solid hsl(90, 0%, 0%);
    padding: 0.5em;
    vertical-align: top;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

td.zaehler {
    text-align: center;
    border-bottom: 1px solid hsl(90, 0%, 0%);
    vertical-align: bottom;
    padding-left: 0.5em;
    padding-right: 0.5em
}

td.nenner {
    text-align: center;
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em
}

table.directory {
    white-space: normal;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 3px;
    font-size: 90%;
    font-weight: bolder
}

p.invisible {
    visibility: hidden;
    width: 100%;
    height: 0.2em;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px
}

.fett {
    font-weight: bold
}

em {
    font-weight: bold
}

table.download {
    text-align: left;
    vertical-align: middle;
    margin-top: 1.8rem;
    margin-bottom: 1.0rem;
    border: 1px solid hsl(90, 0%, 0%);
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: 96%;
    max-width: 96%;
    border-collapse: collapse;
    caption-side: top;
    overflow: scroll
}

caption.download {
    text-align: left;
    vertical-align: bottom;
    font-size: 100%;
    font-weight: bold;
    margin-top: 1.2rem 0 1rem 0
}

thead.download {
    background-color: hsl(45, 0%, 85%)
}

td.file {
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid hsl(90, 0%, 0%);
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 0.3em
}

td.size {
    text-align: right;
    vertical-align: middle;
    border-top: 1px solid hsl(90, 0%, 0%);
    padding: 0.3em;
    white-space: normal
}

td.description {
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid hsl(90, 0%, 0%);
    padding: 0.3em
}

td.download {
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid hsl(90, 0%, 0%);
    padding: 0.3em;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -o-hyphens: none;
    hyphens: none
}

td.sl {
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid hsl(90, 0%, 0%);
    padding: 0.3em;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -o-hyphens: none;
    hyphens: none
}

ul.minus {
    list-style-type: square
}

table.decoder {
    caption-side: bottom;
    border-collapse: collapse;
    font-size: 100%;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    border: 1px solid #AAAA89;
    text-align: left;
    width: 95%
}

thead.decoder {
    background-color: #DDDDDD
}

tbody.decoder {
    border-top: 1px solid #AAAA89
}

caption.decoder {
    text-align: left;
    vertical-align: top;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 1.5em
}

p.pre {
    font-family: Courier;
    font-size: 90%
}

div.impress {
    margin: 1rem auto;
    padding: 0
}

div.impress ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    font-size: 10px;
    font-size: 1.0rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: center;
    align-content: center
}

div.impress ul li {
    flex: 1 1 auto;
    margin: 0 1px;
    padding: 3px;
    background-clip: padding-box;
    background-color: hsl(46, 10%, 75%)
}

.home {
    text-align: end;
}

.linkKlein {
    font-size: 13px;
}

.s88bild {
    width: 45%;
    height: auto;
}

table.stable {
    border-collapse: collapse;
    width: 100%;
}