/* main.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* Handy */
@media screen and (max-width: 800px) {
  main {
    height: 100vh;
    display: grid;
    grid-auto-rows: 13% 86%;
    grid-template-areas: "navi" "article";
  }

  header {
    display: none;
  }
}

/* Menue Normal */
@media screen and (min-width: 800px) {
  main {
    height: 100vh;
    display: grid;
    grid-auto-rows: 10% 89%;
    grid-template-columns: 17% 83%;
    grid-template-areas: "header header" "navi article";
  }
}

/* Menue Handy */
@media screen and (min-width: 355px) {
  .navilist {
    display: flex;
    height: 70px;
  }

  .menuelistUl {
    display: flex;
    margin: 5px;
    height: 9px;
  }

  .menueentry {
    margin-right: 10px;
    height: 62px;
    width: 200px;
    font-family: serif;
  }

  .pagecontent {
    font-family: serif;
  }
}

/* Menue  Normal*/
@media screen and (max-width: 355px) {
  .navilist {
    display: inline;
  }

  .menueentry {
    margin-top: -10px;
  }
}

header {
  grid-area: header;
}

navi {
  grid-area: navi;
  background-color: hsl(28, 40%, 68%);
}

article {
  grid-area: article;
}

iframe {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.pagecontent {
  font-size: large;
  font-weight: lighter;
  color: hsl(90, 0%, 0%);
  background-color: hsl(28, 50%, 38%);
}

a {
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
  color: hsl(90, 0%, 0%);
  text-decoration: underline;
}

a:hover {
  color: hsl(0, 0%, 25%);
}

h1 {
  vertical-align: top;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 24px;
  text-align: left;
  font-size: 130%;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: 130%;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

em {
  font-weight: bold;
}

div.impress {
  margin: 10px;
}

div.impress ul {
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  align-content: center;
}

div.impress ul li {
  flex: 1 1 auto;
  margin: 0 1px;
  padding: 3px;
  background-clip: padding-box;
  background-color: hsl(46, 10%, 75%);
}

ul.normal {
  list-style-type: disc;
}

div.image {
  /* column-span: 2;                     ???  */
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
}

div.image img {
  flex: 0 0 auto;
  margin: 8px;
  border: 1px solid hsl(90, 0%, 0%);
  max-width: 100%;
}

.home {
  text-align: end;
}

.bild10 {
  width: 10%;
  height: auto;
  text-decoration: none;
}

.bild15 {
  width: 15%;
  height: auto;
  text-decoration: none;
}

.bild25 {
  width: 25%;
  height: auto;
  text-decoration: none;
}

.bild45 {
  width: 45%;
  height: auto;
  text-decoration: none;
}

.bild95 {
  width: 95%;
  height: auto;
  text-decoration: none;
}

.layout {
  max-width: 95%;
  font-size: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background-color: hsl(46, 100%, 96%);
  padding: 8px 13px;
}

.titel {
  font-size: 150%;
  text-align: left;
  margin: 3px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: hsl(28, 40%, 68%);
}

.uplink {
  width: 100%;
  text-align: right;
  vertical-align: middle;
  margin-top: 8px;
  /* text-decoration: none */
}

.btnElektronik {
  background-image: linear-gradient(to bottom, rgb(0, 128, 0), rgb(2, 95, 2));
  margin-right: 10px;
  font-family: serif;
  border-radius: 15px;
  border: solid 1px black;
  text-align: center;
  padding: 5px;
}

.btnEisenbahn {
  background-image: linear-gradient(to bottom, hsl(28, 50%, 39%), hsl(28, 51%, 33%));
  margin-right: 10px;
  font-family: serif;
  border-radius: 15px;
  border: solid 1px black;
  text-align: center;
  padding: 5px;
}

.btnElektronik:hover {
  transform: translateY(2px);
}

.btnEisenbahn:hover {
  transform: translateY(2px);
}

.menueentry:hover {
  background: #e7e2d3;
  background-image: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
  transform: translateY(2px);
}

.menueentry {
  padding: 5px;
  border-radius: 15px;
  border: solid 1px black;
  background: #fffaeb;
  background-image: linear-gradient(to bottom, #fffaeb, #dfd5b8);
  text-align: center;
}

.navilist {
  margin-right: 10px;
}

.menuelistUl {
  list-style-type: none;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.menueNavi {
  margin-top: 10px;
  margin-bottom: -30px;
  text-align: center;
}

.aTargetButton {
  color: #000000;
  text-decoration: none;
  height: 9px;
}
.ulist {
    list-style-type: disc;
}
.big {
    font-size: 20px;
}
