/* mainElektronik.css */
navi {
  grid-area: navi;
  background-color: hsl(120, 30%, 82%);
}

.pagecontent {
  background-color: hsl(120, 20%, 90%);
}

.layout {
  background-color: hsl(120, 15%, 95%);
}

.titel {
  background-color: hsl(120, 30%, 82%);
}

.menueentry:hover {
  background: hsl(120, 40%, 85%);
  background-image: linear-gradient(to bottom, hsl(120, 35%, 95%), hsl(120, 35%, 75%));
}

.menueentry {
  background: hsl(120, 25%, 88%);
  background-image: linear-gradient(to bottom, hsl(120, 25%, 95%), hsl(120, 25%, 80%));
}