/* mainElektronik.css */
navi {
  grid-area: navi;
  background-color: hsl(120, 40%, 68%);
}

.pagecontent {
  background-color: hsl(147, 93%, 24%);
}

.layout {
  background-color: hsl(120, 100%, 90%);
}

.titel {
  background-color: hsl(120, 40%, 68%);
}

.menueentry:hover {
  background: #dde7d3;
  background-image: linear-gradient(to bottom, #f0f0f0, #b9fdb9);
}

.menueentry {
  background: #ebffee;
  background-image: linear-gradient(to bottom, #ebffeb, #bddfb8);
}