body {
    margin: 0;
}

/* Handy */
@media screen and (max-width: 50em) {
    main {
        height: 100vh;
        display: grid;
        grid-template-rows: 10% 15% 70% 5%;
        grid-template-areas: "header" "navi" "article" "footer";
    }
}


/* Normal */
@media screen and (min-width: 50em) {
    main {
        height: 100vh;
        display: grid;
        /* grid-template-rows: 1fr 50fr 1fr; */
        grid-template-rows: 10% 83% 6%;
        grid-template-columns: 20% 80%;
        grid-template-areas: "header header" "navi article" "footer footer";
    }
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

navi {
    grid-area: navi;
    background-color: hsl(28, 40%, 68%);
    border: solid 1px black;
}

article {
    grid-area: article;
}

iframe {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.navlist {
    height: 100%;
    /* width: 200px; */
    margin: 0;
}

.menuelistUl {
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

li {
    word-break: break-all; 
}

.menueentry {
    background-color: rgb(192, 192, 192);
    margin-top: 10px;
    border: solid 1px black;
}

.center {
    text-align: center;
    margin: 0;
    padding: 0;
}

.menueH2 {
    margin-left: 10px;
    margin-top: 10px;
}

.date {
    font-size: 10px;
    font-family: Arial;
}

.ohtmlHidden {
    overflow: hidden;
}
