@charset "UTF-8";

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-size: 13px; */
  font-size: 1.2rem;
  font-weight: lighter;
  color: hsl(90, 0%, 0%);
  background-color: hsl(28, 50%, 38%);
  /* background-color:;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto; */
  /* hyphens: auto */
}

.einsp {
  column-count: 1;
  column-gap: 21px;
}
